<main class="home">
    <section class="carousel">
        <button class="carousel__prev" onclick="window.carousel.plusSlides(-1)"
            aria-label="Prev Slide">{{home.PREV}}</button>
        <button class="carousel__next" onclick="window.carousel.plusSlides(1)"
            aria-label="Next Slide">{{home.NEXT}}</button>

        <div class="carousel__dots">
        </div>
        <div class="border-block">
            <img src="/static/images/border.jpg" alt="border" />
        </div>
    </section>

    <section class="home__category">
        <ul class="category__items">
        </ul>
    </section>
</main>