<main class="main">
    <section class="carousel-container">
        <button class="prev" onclick="window.carousel.plusSlides(-1)" aria-label="Prev Slide">{{home.PREV}}</button>
        <button class="next" onclick="window.carousel.plusSlides(1)" aria-label="Next Slide">{{home.NEXT}}</button>

        <div class="dot-container">
        </div>
        <div class="border-block">
            <img src="/static/images/border.jpg" alt="border" />
        </div>
    </section>

    <section class="main__category">
        <ul class="category__items">
        </ul>
    </section>
</main>