<header class="main__header">
    <nav class="nav">
        <a href="" class="main__header__logo">
            <img src="../../static/images/logo.png" alt="Sabka Bazaar" />
        </a>
        <ul class="nav__items">
            <li class="nav__item nav__item--home">
                <a href="home.html">Home</a>
            </li>
            <li class="nav__item nav__item--products">
                <a href="product.html">Products</a>
            </li>
            <li class="nav__item nav__item--auth">
                <ul class="nav__item--auth_item">
                    <li class="nav__item">
                        <a class="nav__link" href="">SignIn</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="">Register</a>
                    </li>
                </ul>
                <div class="cart">
                    <img src="../../static/images/cart.svg" />
                    <span>0 items</span>
                </div>
            </li>
        </ul>
    </nav>
</header>