<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>SABKA BAZAAR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Dosis:400,600,700"
    />
  </head>
  <body>
  
    <main class="main">
      <div class="carousel-container">
        <div class="carousel__item">
          <img src="../../static/images/offers/offer1.jpg" style="width:100%" />
        </div>
        <div class="carousel__item">
          <img src="../../static/images/offers/offer2.jpg" style="width:100%" />
        </div>
        <div class="carousel__item">
          <img src="../../static/images/offers/offer3.jpg" style="width:100%" />
        </div>
        <div class="carousel__item">
          <img src="../../static/images/offers/offer4.jpg" style="width:100%" />
        </div>
        <div class="carousel__item">
          <img src="../../static/images/offers/offer5.jpg" style="width:100%" />
        </div>

        <a class="prev" onclick="plusSlides(-1)">Prev</a>
        <a class="next" onclick="plusSlides(1)">Next</a>

        <div class="dot-container">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
          <span class="dot" onclick="currentSlide(4)"></span>
          <span class="dot" onclick="currentSlide(5)"></span>
        </div>
        <div class="border-block">
          <img src="../../static/images/border.jpg" />
        </div>
      </div>

      <div class="main__category">
        <ul class="category__items">
          <li class="category__item">
            <div class="category__item--img">
              <img
                src="../../static/images/category/fruits.png"
                alt="Fruits and Vegetables"
              />
            </div>
            <div class="category__item--info">
              <h3>Fruits and Vegetables</h3>
              <p>A variety of fresh fruits and vegetables.</p>
              <a href="">Explore fruit-and-veg</a>
            </div>
            <div class="border-block">
              <img src="../../static/images/border.jpg" />
            </div>
          </li>
          <li class="category__item">
            <div class="category__item--img">
              <img
                src="../../static/images/category/bakery.png"
                alt="Fruits and Vegetables"
              />
            </div>
            <div class="category__item--info">
              <h3>Fruits and Vegetables</h3>
              <p>A variety of fresh fruits and vegetables.</p>
              <a href="">Explore fruit-and-veg</a>
            </div>
            <div class="border-block">
              <img src="../../static/images/border.jpg" />
            </div>
          </li>
        </ul>
      </div>
    </main>   
    <script src="main-bundle.js"></script>
  </body>
</html>
