<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>SABKA BAZAAR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Dosis:400,600,700"
    />
    <script src="main-bundle.js"></script>
  </head>
  <body>
    <header class="main__header">
      <nav class="nav">
        <a href="" class="main__header__logo">
          <img src="logo.png" alt="Sabka Bazaar" />
        </a>
        <ul class="nav__items">
          <li class="nav__item nav__item--home">
            <a href="home.html">Home</a>
          </li>
          <li class="nav__item nav__item--products">
            <a href="product.html">Products</a>
          </li>
          <li class="nav__item nav__item--auth">
            <ul class="nav__item--auth_item">
              <li class="nav__item">
                <a class="nav__link" href="">SignIn</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="">Register</a>
              </li>
            </ul>
            <div class="cart">
              <img src="../../static/images/cart.svg" />
              <span>0 items</span>
            </div>
          </li>
        </ul>
      </nav>
    </header>
    <main class="product">
      <div class="product__sidebar">
        <ul class="product__sidebar__list">
          <li class="product__sidebar__list--item">Item 1</li>
          <li class="product__sidebar__list--item">Item 2</li>
          <li class="product__sidebar__list--item">Item 1</li>
          <li class="product__sidebar__list--item">Item 2</li>
          <li class="product__sidebar__list--item">Item 1</li>
          <li class="product__sidebar__list--item">Item 2</li>
        </ul>
      </div>
      <div class="product__info">
        <ul class="product__info__list">
          <li class="product__info__list--item">
            <h3>
              Fresho Kiwi - Green, 3 pcs
            </h3>
            <img src="../../static/images/products/fruit-n-veg/kiwi-green.jpg" />
            <p>
              Kiwis are oval shaped with a brownish outer skin. The flesh is
              bright green and juicy with tiny, edible black seeds.
            </p>
            <div class="price__info">
              <span>MRP Rs87</span>
              <a href="">Buy Now</a>
            </div>
          </li>
          <li class="product__info__list--item">Item 2</li>
          <li class="product__info__list--item">Item 3</li>
          <li class="product__info__list--item">Item 4</li>
          <li class="product__info__list--item">Item 5</li>
          <li class="product__info__list--item">Item 6</li>
          <li class="product__info__list--item">Item 7</li>
        </ul>
      </div>
    </main>
    <footer class="footer">
      Copyright &#169; 2011-2018 Sabka Bazar Grocery Supplies Pvt Ltd
    </footer>
  </body>
</html>
