/* carousel container */
.carousel {
  position: relative;  
  /* banners */
  &__banner {
    display: none;
  }
  /* Next & previous buttons */
  &__prev,
  &__next {
    display: none;    
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1rem;
    margin-top: -1.3rem;
    color: $color-white;
    font-size: $font-size-lg;
    transition: 0.6s ease;
    border-radius: 0 0.18rem 0.18rem 0;
    user-select: none;
    background-color: $color-grey-dark;
    border: none;
  }

  /* Position the "next button" to the right */
  &__next {
    right: 0;
    border-radius: 0.18rem 0 0 0.18rem;
  }

  /* On hover, add a black background color with a little bit see-through */
  &__prev:hover,
  &__next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  &__dots {
    text-align: center;
    margin-top: 0rem;
    /* The dots/bullets/indicators */
    &--dot {
      cursor: pointer;
      height: 0.4rem;
      width: 0.4rem;
      margin: 0 0.6rem;
      background-color: $color-grey-light;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    .active,
    &--dot:hover {
      background-color: #717171;
    }
  }
  .border-block {
    margin-top: -1.9rem;
  }
}

@include responsive-for-IPad {
  .carousel {
    &__prev,
    &__next {
      display: block;
    }
    &__dots {
      margin-top: 0rem;
    }
    .border-block {
      margin-top: 0rem;
    }
  }
}

@include responsive-for-desktop {
  .carousel {  
    &__dots {
      margin-top: 0rem;
    }
    &__prev,
    &__next {
      display: block;
    }
    .border-block {
      margin-top: 0rem;
    }
  }
}
