<main class="main">
    <div class="carousel-container">
        <a class="prev" onclick="window.carousel.plusSlides(-1)">Prev</a>
        <a class="next" onclick="window.carousel.plusSlides(1)">Next</a>

        <div class="dot-container">
        </div>
        <div class="border-block">
            <img src="/static/images/border.jpg" alt="border" />
        </div>
    </div>

    <div class="main__category">
        <ul class="category__items">
        </ul>
    </div>
</main>