<main class="product">
    <div class="product__sidebar">
        <ul class="product__sidebar__list">
        </ul>
    </div>
    <div class="product__info">
        <ul class="product__info__list">
        </ul>
    </div>
</main>