<main class="product">
    <aside class="product__sidebar">
        <ul class="product__sidebar__list">
        </ul>
    </aside>
    <aside class="product__sidebar__sm">
        <select aria-label="product-category"></select>
    </aside>
    <section class="product__info">
        <ul class="product__info__list">
        </ul>
    </section>
</main>