<main class="product">
    <div class="product__sidebar">
        <ul class="product__sidebar__list">
            {{#each categoriesData }}
            <li class="product__sidebar__list--item" id="{{id}}">{{name}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="product__info">
        <ul class="product__info__list">

        </ul>
    </div>
</main>