.main__header {
  grid-auto-flow: row;
  box-shadow: 0px 0px 5px 0px $shadow-color;
  margin-bottom: 1rem;

  .nav {
    display: grid;
    grid-template-columns: 25% 60% 15%;
    height: 100%;
    @include screen-width;
    padding-top: 0.3rem;
    a {
      color: $font-color-1;
      font-weight: bold;
    }
    &__list {
      display: flex;
      align-items: flex-end;
      margin-left: 2rem;
      &--item {
        margin: 0.8rem;
      }
    }
    &__auth {
      &__items {
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
        margin-bottom: 1rem;
        font-size: 0.8rem;
      }
      .cart {
        align-self: end;
        background-color: $background-color;
        padding: 0.8rem 1.5rem;

        img {
          height: 2rem;
          float: left;
        }

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 2rem;
          color: $font-color-2;
          padding-left: 0.5rem;
          font-weight: bold;
        }
      }
    }
  }
}

@include responsive-for-IPad;
@include responsive-for-mobile-landscape {
  .main__header {
    .nav {    
      a img {
        width: 85%;
      }
      &__auth .cart {
        padding: 0.8rem;
      }
    }
  }
}

@include responsive-for-mobile {
  .main__header {
    .nav {    
      grid-template-columns: 25% 35% 40%;
      a img {
        width: 100%;
        margin-left: 0.5rem;
      }
      &__list {
        visibility: hidden;
      }
      &__auth {
        margin-top: -0.3rem;
        &__items {
          display: none;
        }
        .cart span {
          justify-content: left;
        }
      }
    }
  }
}
