.cart {
  &__modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    animation-name: fadeIn;
    animation-duration: 0.4s;
  }
  &__content {
    position: fixed;
    bottom: 0;
    width: 20rem;
    right: 10rem;
    height: 87.5%;
    background-color: $background-color-2;
    animation-name: slideIn;
    animation-duration: 0.4s;
    &--header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      cursor: pointer;
      background-color: $background-color-1;
      color: $font-color-3;
      padding: 0.2rem 1rem;
      h3 {
        align-self: center;
      }
      .close {
        font-size: $font-size-xlg;
      }
    }
    &--body {
      background-color: $background-color;
      height: 80%;
      overflow: scroll;
      .cart__product {
        &__list {
          &--item {
            display: flex;
            padding: 0.5rem;
            margin-top: 1rem;
            background-color: $background-color-3;
            img {
              width: 20%;
              height: 20%;
            }
            .cart__detail {
              padding: 0.5rem;
              width: 80%;
              align-self: center;
              h3 {
                font-size: $font-size-xsm;
              }
              .desc {
                display: flex;
                padding: 0.5rem 0rem;
                justify-content: space-around;
                .btn {
                  padding: 0rem 0.5rem;
                  border-radius: 50%;
                  font-size: $font-size-sm;
                }
                .price,
                .total,
                .items {
                  font-size: $font-size-xsm;
                  align-self: center;
                  cursor: pointer;
                }
                .total {
                  margin-left: 2rem;
                }
              }
            }
          }
        }
        .tagline {
          background-color: $background-color-3;
          display: flex;
          justify-content: space-evenly;
          padding: 0.5rem;
          margin: 0.5rem;
          img {
            width: 25%;
          }
          span {
            font-size: $font-size-sm;
            align-self: center;
          }
        }
      }
      &__empty {
        position: absolute;
        top: 45%;
        left: 20%;
        text-align: center;
        p {
          font-size: $font-size-sm;
        }
      }
    }    

    &--footer,
    &--footer__empty {
      bottom: 0;
      position: fixed;
      background-color: $background-color-3;

      a {
        padding: 1rem;
        margin: 1rem;
        text-align: center;
        width: 18rem;
        display: flex;
      }
      a,
      p {
        font-size: $font-size-sm;
      }
    }
    &--footer {
      p {
        text-align: center;
        margin: 0.5rem;
      }
      a {
        justify-content: space-between;
      }
    }
    &--footer__empty a {
      padding: 1rem 6rem;
    }
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
