/* dosis-regular - latin */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    //src: url('../fonts/dosis-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('http://localhost:8080//fonts/dosis-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Dosis Regular'), local('Dosis-Regular'),
         url('http://localhost:8080//fonts/dosis-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('http://localhost:8080//fonts/dosis-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('http://localhost:8080//fonts/dosis-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('http://localhost:8080//fonts/dosis-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('http://localhost:8080//fonts/dosis-v7-latin-regular.svg#Dosis') format('svg'); /* Legacy iOS */
  }
  /* dosis-700 - latin */
  @font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 700;
    src: url('http://localhost:8080//fonts/dosis-v7-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Dosis Bold'), local('Dosis-Bold'),
         url('http://localhost:8080//fonts/dosis-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('http://localhost:8080//fonts/dosis-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('http://localhost:8080//fonts/dosis-v7-latin-700.woff') format('woff'), /* Modern Browsers */
         url('http://localhost:8080//fonts/dosis-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('http://localhost:8080//fonts/dosis-v7-latin-700.svg#Dosis') format('svg'); /* Legacy iOS */
  }