* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: $font-family;
}

body {
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}
.no-scroll {
  overflow: hidden;
}
.form__group {
  color: $background-color-dark;
  margin-bottom: 2rem;

  .form__label {
    display: block;
  }

  .form__control {
    border: none;
    border-bottom: 0.125rem solid $background-color-dark;
    background: none;
    width: 100%;
    outline: 0 none;
  }

  .form__control:focus {
    border-color: #53c4ce;
    margin: 1rem auto;
  }

  .form__error {
    color: red;
  }
}

.btn {
  background-color: $color-theme;
  padding: 0.5rem 1rem;
  text-align: center;
  color: $font-color-3;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  &:active,
  &:hover {
    border: none;
  }
}
.btn-lg {
  width: 100%;
}
