/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@mixin responsive-for-IPad {
  @media all and (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin responsive-for-mobile-landscape {
  @media all and (min-width: 480px) and (max-width: 768px) {
    @content;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen =  Max 480px
*/
@mixin responsive-for-mobile {
  @media all and (max-width: 480px) {
    @content;
  }
}

@mixin responsive-for-desktop {
  @media all and (min-width: 1024px) {
    @content;
  }
}

@mixin screen-width {
  max-width: 80%;
  margin: auto;
}

@mixin screen-width-sm {
  max-width: 100%;
  margin: auto;
}
