$font-family: "Dosis";
$font-family-bold: "Dosis-Bold";
$background-color: #eeeeee;
$background-color-dark: #999999;
$background-color-1: #1d2124;
$background-color-2: #fefefe;
$background-color-3: white;
$input-control: #53c4ce;
$color-theme: #c52959;
$color-theme-1: #999999;
$color-theme-2: #bbb;
$font-color-1: #979caf;
$font-color-2: #20252b;
$font-color-3: #ffffff;
$shadow-color: #ccc;
$font-size-xlg: 2rem;
$font-size-lg: 1.3rem;
$font-size-md: 1rem;
$font-size-sm: 0.8rem;
$font-size-xsm: 0.7rem;
