$font-family: "Dosis";
$font-family-bold: "Dosis-Bold";
$color-white: #ffffff;
$color-red: red;
$color-theme: #c52959;
$color-sky-blue: #53c4ce;
$color-grey-light: #d2d2d2;
$color-grey-lighter: #eeeeee;
$color-grey-lightest: #fefefe;
$color-grey-dark: #999999;
$color-grey-darker: #20252b;
$color-grey-darkest: #1d2124;
$font-size-xlg: 2rem;
$font-size-lg: 1.3rem;
$font-size-md: 1rem;
$font-size-sm: 0.8rem;
$font-size-xsm: 0.7rem;
$IPad-min-width: 768px;
$IPad-max-width: 1024px;
$desktop-min-width: 1024px;
