<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>SABKA BAZAAR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:400,600,700" />
</head>

<body>
    <header class="main__header">
        <nav class="nav">
            <a href="/" class="main__header__logo">
                <img src="/static/images/logo.png" alt="Sabka Bazaar" />
            </a>
            <ul class="nav__list">
                <li class="nav__list--item">
                    <a href="/">Home</a>
                </li>
                <li class="nav__list--item">
                    <a href="/product">Products</a>
                </li>
            </ul>
            <div class="nav__auth">
                <ul class="nav__auth__items">
                    <li class="nav__auth__items--item">
                        <a class="nav__link" href="/login">SignIn</a>
                    </li>
                    <li class="nav__auth__items--item">
                        <a class="nav__link" href="/registration">Register</a>
                    </li>
                </ul>
                <div id="cart" class="cart">
                    <img src="/static/images/cart.svg" alt="cart" />
                    <span>0 items</span>
                </div>
            </div>
        </nav>
    </header>
    {{{ body }}}
    <div id="cart__modal" class="cart__modal"></div>
    <footer class="footer">
        Copyright &#169; 2011-2018 Sabka Bazar Grocery Supplies Pvt Ltd
    </footer>
    <script src="main-bundle.js"></script>
</body>

</html>